
.main{
    width: 65%;
    margin-left: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.main h1 {
    padding: 4vh 0;
}

.main div{
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 1% 0;
    /* border: 1px solid #000; */
    box-shadow: 0px 0px 3px gray;

}

.main div span {
    background-color: rgb(138, 138, 223);
    color: white;
    padding: 2% 3%;   
}

.main div input{
    text-align: center;
    width: 50%;
    border: none;
    border-bottom: 1px solid rgb(138, 138, 223);
    outline: none;
}



.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
}

.list .item{
    margin-bottom: 2vh;
    padding: 1vh 0;
    width: 45%;
    font-size: 30px;
    border: 1px solid gray;

    box-shadow: 0px 0px 3px gray;

}