
.main{
    height: 100vh;
    /* border: 10px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 8vh;
}

.main h1 {
    margin-top: 8vh;
}

.main .table{
    width: 100vh;
    height: 70vh;
    /* border: 1px solid red; */
}

.main .table td{
    width: 33%;
    border: 1px solid #000;
}
