.main{
    height: 100vh;
    /* border: 1px solid red; */
}

.father{
    /* padding: 10% 2%; */
    box-shadow: 0px 0px 10px gray;
}

.form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.form input{
    height: 50px;
    border-radius: 10px;
    text-align: center;
    outline: none;
}